In [1]:
import pandas as pd
import pyarrow.parquet as pq

In [2]:
pd.__version__

'2.0.2'

In [3]:
parquet_file = pq.ParquetFile("yellow_tripdata_2021-01.parquet")

# Get the metadata information from the Parquet file
metadata = parquet_file.metadata

# Get the schema information from the Parquet file
schema = parquet_file.schema.to_arrow_schema()
schema
metadata = schema.pandas_metadata['columns']

# Extract column names and data types
columns = [item['name'] for item in metadata]
dtypes = {item['name']: item['numpy_type'] for item in metadata}

# Create an empty DataFrame with columns and data types
df = pd.DataFrame(columns=columns).astype(dtypes)

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [6]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [7]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [8]:
from time import time

for batch in parquet_file.iter_batches(batch_size=100000):
    t_start = time()
    batch_df = batch.to_pandas()
    batch_df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
    t_end = time()
    print("inserted another chunk... took %.3f second" % (t_end - t_start))

inserted another chunk... took 11.053 second
inserted another chunk... took 11.537 second
inserted another chunk... took 11.078 second
inserted another chunk... took 11.200 second
inserted another chunk... took 10.216 second
inserted another chunk... took 10.109 second
inserted another chunk... took 10.501 second
inserted another chunk... took 10.599 second
inserted another chunk... took 11.293 second
inserted another chunk... took 10.524 second
inserted another chunk... took 11.437 second
inserted another chunk... took 10.349 second
inserted another chunk... took 10.492 second
inserted another chunk... took 7.200 second

In [4]:
df_zones = pd.read_csv("taxi+_zone_lookup.csv")

In [5]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [6]:
df_zones.to_sql(name="zones", con=engine, if_exists="replace")

265